<div class="row">    
  <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Verification</strong>
          </div>
  
          <div class="card-block">
            <div class="form-group row">
              <label class="col-md-8 form-control-label" for="request_time"><strong>verified On:</strong></label>
              <div class="col-md-10">
                20/05/2017 - 1.06am
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-8 form-control-label" for="request_time"><strong>verified by:</strong></label>
              <div class="col-md-10">
                Samsuddin Alsyaerawy
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-8 form-control-label" for="request_time"><strong>Reason :</strong></label>
              <div class="col-md-10">
                Repot berulang
              </div>
            </div>
            <div class="row">
              <div class="col-sm-10">
                <div class="form-group">
                  <label for="reason"><strong>Remark:</strong></label>
                  <textarea id="description" name="request_details"  rows="4" class="form-control" placeholder="Remark"></textarea>
                </div>
              </div>
            </div><!--/.row-->
  
  
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary pull-right" [routerLink]="['/helpdesk/cancelledworkrequest/']"><i class="fa fa-dot-circle-o"></i>Verify</button>
          </div>
        </div>
      </div>
      
  </div>