<div class="animated fadeIn">
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <strong>Requester Information</strong>
        </div>
        <div class="card-block">
          <table>
            <tr>
              <th>Staff ID:</th><td>87223</td>
            </tr>
            <tr>
              <th>Department:</th><td>Human Resource</td>
            </tr>
            <tr>
              <th>Name:</th><td>Pn Sophia Jamal</td>
            </tr>
            <tr>
              <th>Phone Number:</th><td>0108878288 </td>
            </tr>
            <tr>
              <th>Email:</th><td>sophia.j@gmail.com </td>
            </tr>
            <tr>
              <th>Building:</th><td>Shenzen Mall</td>
            </tr>
            <tr>
              <th>Block:</th><td>G-2</td>
            </tr>
            <hr/>
            <tr>
              <th>Request Details:</th><td>Aircond not functioning. Air blowing, but not cold.</td>
            </tr>
          </table>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary pull-right" [routerLink]="['/client/home']"><i class="fa fa-dot-circle-o"></i> Home</button>
        </div>
      </div>
    </div><!--/.col-->
  </div>
</div>
