<div class="animated fadeIn">
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3 text-center">
      <h3>Welcome, Irine Nadia Muhammad!</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <button class="btn btn-success btn-lg btn-block" type="button" [routerLink]="['/client/service-requisition']">Make a Work Request</button>
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Client Details</strong>
        </div>
        <div class="card-block" align="center">
                <div class="row">
                  <div class="col-sm-8">
                    <img width="240px" src="http://icons.iconarchive.com/icons/hopstarter/scrap/256/Administrator-icon.png"/>
                  </div>
                </div>
                <br/>
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" ><strong> Name</strong></label>
                  <div class="col-md-9">
                    Irine Nadia Muhammad
                  </div>
                </div>          
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="job_trait"><strong>Email</strong></label>
                  <div class="col-md-9">
                    tenant11@jkr.com.my                    
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="job_type"><strong> Telephone</strong></label>
                  <div class="col-md-9">
                    017 911 2213                     
                  </div>
                </div>          
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="job_trait"><strong>Office no
                  </strong></label>
                  <div class="col-md-9">
                    03 1231 3333
                  </div>
                </div>     
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Latest Management Announcements</strong>
        </div>
        <div class="card-block">
          <table>
            <tr>
              <th width="100px">Date</th>
              <th width="300px">Announcement</th>
              <th width="100px"></th>
            </tr>
            <tr class="border-bottom">
              <td>25/5/2017</td>
              <td>Temporary closing of parking bay Block G due to maintenance</td>
              <td>28/5/2017 - 30/5/2017</td>
            </tr>

            <tr class="border-bottom">
              <td>23/5/2017</td>
              <td>Window cleaning activity on West Wing of Shenzen Mall</td>
              <td>24/5/2017</td>
            </tr>

            <tr class="border-bottom">
              <td>12/2/2017</td>
              <td>Escalator maintenance work on North Wing 2nd Floor Shenzen Mall</td>
              <td>15/2/2017 - 20/2/2017</td>
            </tr>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div>
</div>
