<div class="animated fadeIn">
  <br>

  <!-- <div class="row">
    <div class="col-md-6 offset-md-2">
      <h4>Work Requests</h4>
    </div>

  </div>
  <div class="row">
    <div class="col-md-2 col-sm-4 offset-md-2"[routerLink]="['/engineer/workrequest']">
      <div class="card">
        <div class="card-block card-primary text-center">
          <div class="text-uppercase font-weight-bold">New</div>
          <div class="h2 py-3">10</div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-4">
      <div class="card">
        <div class="card-block card-warning text-center" [routerLink]="['/engineer/workrequest']">
          <div class="text-uppercase font-weight-bold">Open</div>
          <div class="h2 py-3">2</div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-4">
      <div class="card">
        <div class="card-block card-success text-center" [routerLink]="['/engineer/workrequest']">
          <div class="text-uppercase font-weight-bold">Verified</div>
          <div class="h2 py-3">5</div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-4">
      <div class="card">
        <div class="card-block card-danger text-center" [routerLink]="['/engineer/workrequest']">
          <div class=" text-uppercase font-weight-bold">Cancelled</div>
          <div class="h2 py-3">0</div>

        </div>
      </div>
    </div>
     <div class="card-block">
     </div>
  </div> -->


  <div class="row">
    <div class="col-md-6 offset-md-2">
      <h4>Work Orders</h4>
    </div>

  </div>
  <div class="row">
    <div class="col-md-2 col-sm-4 offset-md-2" >
      <div class="card">
        <div class="card-block card-primary text-center" [routerLink]="['/helpdesk/workorder']">
          <div class="text-uppercase font-weight-bold">New</div>
          <div class="h2 py-3">5</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-2 col-sm-4">
      <div class="card">
        <div class="card-block card-warning text-center" [routerLink]="['/helpdesk/workorder']">
          <div class="text-uppercase font-weight-bold">In Progress</div>
          <div class="h2 py-3">2</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-2 col-sm-4">
      <div class="card">
        <div class="card-block card-success text-center" [routerLink]="['/engineer/workorder']">
          <div class="text-uppercase font-weight-bold">Closed</div>
          <div class="h2 py-3">3</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-2 col-sm-4">
      <div class="card">
        <div class="card-block text-center card-quotation" [routerLink]="['/engineer/workorder']">
          <div class=" text-uppercase font-weight-bold">Quotations</div>
          <div class="h2 py-3">2</div>
        </div>
      </div>
    </div><!--/.col-->
  </div>


</div>


