    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <strong>Organization Name</strong><i class="fa fa-pencil-square-o pull-right" style="font-size:25px" [routerLink]="['/admin/asset/edit']"></i>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-8">
              <img width="240px" src="http://www.kkr.gov.my/public/jkrLogo.gif"/>
            </div>
          </div>
          <br/>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="job_trait"><strong>Name</strong></label>
            <div class="col-md-9">
              JKR
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="job_trait"><strong>Location</strong></label>
            <div class="col-md-9">
              no.8, Jalan P/C 38, 43000 ,puchong, Selangor
            </div>
          </div>          
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="job_type"><strong>Description</strong></label>
            <div class="col-md-9" style="text-align: justify">
              Jabatan Kerja Raya (JKR) Malaysia telah ditubuhkan sejak 1872 dan berfungsi sebagai sebuah agensi teknikal kepada Kerajaan Malaysia. JKR berperanan melaksanakan projek-projek pembangunan dan penyenggaraan infrastruktur kepada pelbagai kementerian, jabatan, badan berkanun dan kerajaan negeri seperti jalan, bangunan, lapangan terbang, pelabuhan dan jeti.
            </div>
          </div>

      </div>
      </div>
    </div><!--/.col-->