<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Purchase Order</strong>
    </div>
    
    <div class="card-block">
        <div class="row-sm-6">
      <div class="form-group row">
        <label class="col-md-4 form-control-label" for="request_time"><strong>Company:</strong></label>
        <div class="col-md-8">
          JR Sdn Bhd
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 form-control-label" for="request_time"><strong>Address:</strong></label>
        <div class="col-md-8">
          B-West Wing, Ground Floor, Male Toilet
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 form-control-label" for="request_time"><strong>Phone:</strong></label>
        <div class="col-md-8">
          011-2345678
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 form-control-label" for="request_time"><strong>Purchase No:</strong></label>
        <div class="col-md-8">
         123455
        </div>
      </div>
    </div>
    <div class="row-sm-6">
      <div class="form-group row">
        <label class="col-md-4 form-control-label" for="request_time"><strong>Work Order ID:</strong></label>
        <div class="col-md-8">
         102
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 form-control-label" for="request_time"><strong>Priority:</strong></label>
        <div class="col-md-8">
          High
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 form-control-label" for="request_time"><strong>Person In Charge:</strong></label>
        <div class="col-md-8">
          Harris Pewter
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 form-control-label" for="request_time"><strong>Position:</strong></label>
        <div class="col-md-8">
          Service Advisor
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 form-control-label"><strong>Date:</strong></label>
        <div class="col-md-8">
          13/02/2017
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 form-control-label"><strong>Work Order completion time:</strong></label>
        <div class="col-md-8">
          60 minutes
        </div>
      </div>
    </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary pull-right" ><i class="fa fa-dot-circle-o"></i>Accept</button>
    </div>
  </div>
</div>
