<div class="col-sm-8">
  <div class="card">
    <div class="card-header">
      <strong>Add New Team</strong>
    </div>
    <br>

        <div class="card-block">
            <div class="col-md-8">
            <div class="form-group">
              <label for="user_email">Name:</label>
             <input type="text" class="form-control" id="team_name" placeholder="Team Name">
            </div>
                <div class="form-group">
                <label for="org_name">Trait:</label>
                    <select id="job_type" name="job_type" class="form-control">
						<option value="0">Please select</option>
                  		<option value="1">Electrical</option>
                  		<option value="2">Mechanical</option>
                  		<option value="3">Civil</option>
                  		<option value="4">HouseKeeping</option>
                  		<option value="5">Gardening and Lanscaping</option>
                  		<option value="6">Pest Control</option>	
                  		<option value="7">Security</option>	
              		</select>
              </div>   
            <div class="form-group">
            <label for="org_name">Team Members:</label>
              <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"></angular2-multiselect>
            </div>
              <div class="form-group">
                <label for="org_name">Leader:</label>
                    <select id="job_type" name="job_type" class="form-control">
                      <option value="0">Please select</option>
                      <option value="1">Azmarul Asfan</option>
                      <option value="2">Zamil Idris</option>
                      <option value="3">Zaidi Anwari</option>
                      <option value="4">Anuar Adam</option>
                      <option value="5">Syech Raie</option>
                      <option value="6">Rafaie Rafael</option> 
                      <option value="7">Indra Shah</option> 
                      <option value="8">akbar</option>
                      <option value="9">Jauhari Dekati</option> 
                      <option value="10">Clinton Joe</option>      </select>
              </div> 
        </div>
      </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary pull-right" [routerLink]="['/admin/user']">Submit</button>
        </div>
  </div>
</div>

<!-- <h4>Multi list sortable</h4>
<div class="row">
    <div class="col-sm-3">
    <div class="panel panel-warning">
        <div class="panel-heading">
        Available boxers
        </div>
        <div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listBoxers">
            <ul class="list-group" >
                <li *ngFor="let item of listBoxers; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item}}</li>
            </ul>
        </div>
    </div>
    </div>
    <div class="col-sm-3">
    <div class="panel panel-success">
        <div class="panel-heading">
        First Team
        </div>
        <div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listTeamOne">
            <ul class="list-group" >
                <li *ngFor="let item of listTeamOne; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item}}</li>
            </ul>
        </div>
    </div>
    </div>
    <div class="col-sm-3">
    <div class="panel panel-info">
        <div class="panel-heading">
        Second Team
        </div>
        <div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listTeamTwo">
            <ul class="list-group">
                <li *ngFor="let item of listTeamTwo; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item}}</li>
            </ul>
        </div>
    </div>
    </div>
</div>
 -->
