<div class="animated fadeIn">

  <h3>Work Requests</h3>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card" [routerLink]="['/work-requests/unassigned']">
        <div class="card-header">
          New
        </div>
        <div class="card-block text-center clickable-thing">
          <h2>2</h2>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card" [routerLink]="['/work-requests/open']">
        <div class="card-header">
          Open
        </div>
        <div class="card-block text-center clickable-thing">
          <h2>6</h2>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-header">
          Verified
        </div>
        <div class="card-block text-center clickable-thing">
          <h2>3</h2>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-header">
          Cancelled
        </div>
        <div class="card-block text-center clickable-thing">
          <h2>1</h2>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <h3>Work Orders</h3>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-header">
          New
        </div>
        <div class="card-block text-center clickable-thing">
          <h2>2</h2>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-header">
          In Progress
        </div>
        <div class="card-block text-center clickable-thing">
          <h2>6</h2>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-header">
          Closed
        </div>
        <div class="card-block text-center clickable-thing">
          <h2>3</h2>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
