
    <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-block">
            <div class="col-sm-12">
            <table style="width:10%">
            <tr>
            <td><i  class="fa fa-plus-circle" style="font-size:25px;" [routerLink]="['/admin/organization/register']"></i></td>
            </tr>
            </table>

            </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card" [routerLink]="['/admin/organization/view']">
        <div class="card-block">
            <div class="col-sm-12">
            <table>
            <tr>
            <td rowspan="2" width="35%">
              <img width="120px" src="http://www.kkr.gov.my/public/jkrLogo.gif"/>
            </td>
            <th colspan="">Organization Name</th>
            </tr>
            <tr>
            <td> no.8, Jalan P/C 38, 43000 ,puchong, Selangor</td>
            </tr>
             </table>
            </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card" [routerLink]="['/admin/organization/view']">
        <div class="card-block">
            <div class="col-sm-12">
            <table>
            <tr>
            <td rowspan="2" width="35%">
              <img width="120px" src="http://www.kkr.gov.my/public/jkrLogo.gif"/>
            </td>
            <th colspan="">Organization Name</th>
            </tr>
            <tr>
            <td> no.8, Jalan P/C 38, 43000 ,puchong, Selangor</td>
            </tr>
             </table>
            </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
