<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Simple Table
        </div>
        <div class="card-block">
          <table class="table">
            <thead>
            <tr>
              <th>Work Request ID</th>
              <th>Date registered</th>
              <th>PIC</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>JKRM-0170</td>
              <td>08/02/2017</td>
              <td>En. Rodham Abu Bakar</td>
              <td>
                <span class="badge badge-success">Verified</span>
              </td>
            </tr>
            <tr>
              <td>JKRM-0171</td>
              <td>09/03/2017</td>
              <td>En. Fairul Murad</td>
              <td>
                <span class="badge badge-danger">Cancelled</span>
              </td>
            </tr>
            <tr>
              <td>JKRM-1075</td>
              <td>16/03/2017</td>
              <td>Hj. Ismail Ahmad</td>
              <td>
                <span class="badge badge-warning">Ongoing</span>
              </td>
            </tr>
            <tr>
              <td>JKRM-1077</td>
              <td>17/03/2017</td>
              <td>Ck. Syazlina Bakar</td>
              <td>
                <span class="badge badge-success">Verified</span>
              </td>
            </tr>
            <tr>
              <td>JKRM-1079</td>
              <td>23/03/2017</td>
              <td>En. Rodham Abu Bakar</td>
              <td>
                <span class="badge badge-warning">Ongoing</span>
              </td>
            </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Simple Table
        </div>
        <div class="card-block">
          <table class="table">
            <thead>
            <tr>
              <th>Work Order ID</th>
              <th>Date registered</th>
              <th>PIC</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>JKRM-0170</td>
              <td>08/02/2017</td>
              <td>En. Rodham Abu Bakar</td>
              <td>
                <span class="badge badge-warning">Open</span>
              </td>
            </tr>

            <tr>
              <td>JKRM-1077</td>
              <td>17/03/2017</td>
              <td>Ck. Syazlina Bakar</td>
              <td>
                <span class="badge badge-warning">Open</span>
              </td>
            </tr>
            <tr>
              <td>JKRM-1069</td>
              <td>21/03/2017</td>
              <td>Bina Teguh Sdn Bhd</td>
              <td>
                <span class="badge badge-success">Closed</span>
              </td>
            </tr>
            <tr>
              <td>JKRM-1074</td>
              <td>24/03/2017</td>
              <td>En. Fairul Murad</td>
              <td>
                <span class="badge badge-danger">Late</span>
              </td>
            </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
