<div class="row">    
<div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <strong>Building Name</strong><i class="fa fa-trash pull-right" style="font-size:22px" data-toggle="modal" (click)="dangerModal2.show()"></i>
          <i class="fa fa-pencil-square-o pull-right" style="font-size:25px" [routerLink]="['/admin/building/edit']"></i>
        </div>

        <div class="card-block">
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="job_trait"><strong>Name</strong></label>
            <div class="col-md-9">
              Building A
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="job_trait"><strong>Location</strong></label>
            <div class="col-md-9">
              no.8, Jalan P/C 38, 43000 ,puchong, Selangor
            </div>
          </div>          
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="job_type"><strong>Description</strong></label>
            <div class="col-md-9" style="text-align: justify">
             building A bla.. blaa..
            </div>
          </div>

      </div>
      </div>
    </div><!--/.col-->

        <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i><strong> List Area </strong>
        <i  class="fa fa-plus-circle pull-right" style="font-size:25px;" [routerLink]="['/admin/area/new']"></i></div>
        <div class="card-block">
          <table class="table table-sm">
            <thead>            
                <th>Area</th>     
            </thead>
            <tbody>
              <tr [routerLink]="['/admin/area/view']">
                <td>Area A</td>
              </tr>
              <tr [routerLink]="['/admin/area/view']">
                <td>Area B</td>
              </tr>
              <tr [routerLink]="['/admin/area/view']">
                <td>Area C</td>
              </tr>
              <tr [routerLink]="['/admin/area/view']">
                <td>Area D</td>
              </tr>
              <tr [routerLink]="['/admin/area/view']">
                <td>Area E</td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#/admin/user">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>



<div bsModal #dangerModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete User</h4>
        <button type="button" class="close" (click)="dangerModal2.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Sure want to delete?&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal2.hide()">Close</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/admin/site/']" >Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->