<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Work Requests
        </div>
        <div class="card-block">
          <table class="table">
            <thead>
            <tr>
              <th>Work Request ID</th>
              <th>Date registered</th>
              <th>Description</th>
              <th>Trait</th>
              <th>Type</th>
              <th>Priority</th>
            </tr>
            </thead>
            <tbody>
            <tr data-toggle="modal" (click)="verifyWorkRequestModal.show()">
              <td>SM-0170</td>
              <td>28/05/2017</td>
              <td>Aircond not functioning. Air blowing, but not cold.</td>
              <td>Electrical</td>
              <td>Corrective Maintenance</td>
              <td><span class="badge badge-primary">Normal</span></td>

            </tr>
            <tr>
              <td>SM-1075</td>
              <td>09/05/2017</td>
              <td>Escalator speed not correct.</td>
              <td>Mechanical</td>
              <td>Corrective Maintenance</td>
              <td><span class="badge badge-danger">High</span></td>
            </tr>

            </tbody>
          </table>
          <!--<ul class="pagination">-->
            <!--<li class="page-item"><a class="page-link" href="#">Prev</a></li>-->
            <!--<li class="page-item active">-->
              <!--<a class="page-link" href="#">1</a>-->
            <!--</li>-->
            <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">4</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
          <!--</ul>-->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Work Orders
        </div>
        <div class="card-block">
          <table class="table">
            <thead>
            <tr>
              <th>Work Order ID</th>
              <th>Date registered</th>
              <th>Description</th>
              <th>Trait</th>
              <th>Type</th>
              <th>Priority</th>
            </tr>
            </thead>
            <tbody>
            <!--<tr data-toggle="modal" (click)="closeWorkOrderModal.show()">-->
            <tr [routerLink]="['/tech/work-order-execution']">
              <td>SM-1080</td>
              <td>26/05/2017</td>
              <td>Repair pipe burst at ground floor lobby toilet</td>
              <td>Mechanical</td>
              <td>Corective Maintenance</td>
              <td><span class="badge badge-danger">High</span></td>

            </tr>
            </tbody>
          </table>
          <!--<ul class="pagination">-->
            <!--<li class="page-item"><a class="page-link" href="#">Prev</a></li>-->
            <!--<li class="page-item active">-->
              <!--<a class="page-link" href="#">1</a>-->
            <!--</li>-->
            <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">4</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
          <!--</ul>-->
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #verifyWorkRequestModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="verifyWorkRequestModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Verify Work Request</h4>
        <button type="button" class="close" (click)="verifyWorkRequestModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <strong>Verification</strong>
          </div>

          <div class="card-block">
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="request_time"><strong>Requested On:</strong></label>
              <div class="col-md-8">
                11/05/2017 - 9.48am
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label">Verified via</label>
              <div class="col-md-8">
                <div class="checkbox">
                  <label for="checkbox1">
                    <input type="checkbox" id="checkbox1" name="checkbox1" value="option1"> Visual Inspection
                  </label>
                </div>
                <div class="checkbox">
                  <label for="checkbox2">
                    <input type="checkbox" id="checkbox2" name="checkbox2" value="option2"> Phone
                  </label>
                </div>
                <div class="checkbox">
                  <label for="checkbox3">
                    <input type="checkbox" id="checkbox3" name="checkbox3" value="option3"> Others
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="reason">Comments:</label>
                  <textarea id="request_details" name="request_details" rows="4" class="form-control" placeholder="Additional Comments .."></textarea>

                </div>
              </div>
            </div><!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="reason">Reason:</label>
                  <input type="text" class="form-control" id="reason" placeholder="Reason for closing">
                </div>
              </div>
            </div><!--/.row-->
          </div>
          <!--<div class="card-footer">-->
            <!--&lt;!&ndash;<button class="btn btn-sm btn-default" type="button" data-toggle="modal" (click)="cancelWorkRequestModal.show()">Close Work Request</button>&ndash;&gt;-->
            <!--<button type="submit" class="btn btn-sm btn-primary pull-right" [routerLink]="['/work-orders']"><i class="fa fa-dot-circle-o"></i>Create Work Order</button>-->
          <!--</div>-->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-toggle="modal" (click)="verifyWorkRequestModal.hide(); cancelWorkRequestModal.show()">Cancel Work Request</button>
        <button type="submit" class="btn btn-sm btn-primary pull-right" data-toggle="modal" (click)="verifyWorkRequestModal.hide()"><i class="fa fa-dot-circle-o"></i>Create Work Order</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #cancelWorkRequestModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cancelWorkRequestModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cancel Work Request</h4>
        <button type="button" class="close" (click)="cancelWorkRequestModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="reason">Reason:</label>
          <input type="text" class="form-control" id="reason" placeholder="Reason for closing Work Request">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-toggle="modal" (click)="cancelWorkRequestModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="cancelWorkRequestModal.hide()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--<div bsModal #closeWorkOrderModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="closeWorkOrderModalLabel" aria-hidden="true">-->
  <!--<div class="modal-dialog modal-lg" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<h4 class="modal-title">Close Work Order</h4>-->
        <!--<button type="button" class="close" (click)="closeWorkOrderModal.hide()" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<div class="card">-->
          <!--<div class="card-header">-->
            <!--<strong>Work Order Completion</strong>-->
          <!--</div>-->

          <!--<div class="card-block">-->
            <!--<div class="form-group row">-->
              <!--<label class="col-md-3 form-control-label" for="job_trait">Action Taken</label>-->
              <!--<div class="col-md-9">-->
                <!--<select id="job_trait" name="job_trait" class="form-control">-->
                  <!--<option value="0">Repair</option>-->
                  <!--<option value="1">Clean</option>-->
                  <!--<option value="2">Replace</option>-->
                  <!--<option value="3">Testing and Commissioning</option>-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col-sm-12">-->
                <!--<div class="form-group">-->
                  <!--<label for="action_description">Action Description:</label>-->
                  <!--<textarea id="action_description" name="request_details" rows="4" class="form-control" placeholder="Additional Comments .."></textarea>-->

                <!--</div>-->
              <!--</div>-->
            <!--</div>&lt;!&ndash;/.row&ndash;&gt;-->
            <!--<div class="row">-->
              <!--<div class="col-sm-12">-->
                <!--<div class="form-group">-->
                  <!--<label for="action_description">Spare Parts/Consumables:</label>-->
                  <!--<div class="row">-->
                    <!--<div class="col-sm-4">-->
                      <!--Part Name-->

                      <!--<input type="text" class="form-control" id="part1" placeholder="Enter part name">-->

                      <!--<input type="text" class="form-control" id="part2" placeholder="Enter part name">-->

                      <!--<input type="text" class="form-control" id="part3" placeholder="Enter part name">-->
                    <!--</div>-->
                    <!--<div class="col-sm-4">-->
                      <!--Part Code-->

                      <!--<input type="text" class="form-control" id="part_code1" placeholder="Enter part code">-->

                      <!--<input type="text" class="form-control" id="part_code2" placeholder="Enter part code">-->

                      <!--<input type="text" class="form-control" id="part_code3" placeholder="Enter part code">-->
                    <!--</div>-->
                    <!--<div class="col-sm-4">-->
                      <!--Quantity-->

                      <!--<input type="text" class="form-control" id="part_quantity1" placeholder="Enter quantity">-->

                      <!--<input type="text" class="form-control" id="part_quantity2" placeholder="Enter quantity">-->

                      <!--<input type="text" class="form-control" id="part_quantity3" placeholder="Enter quantity">-->
                    <!--</div>-->
                  <!--</div>-->

                <!--</div>-->
              <!--</div>-->
            <!--</div>&lt;!&ndash;/.row&ndash;&gt;-->
            <!--<div class="row">-->
              <!--<div class="col-sm-12">-->
                <!--<div class="form-group">-->
                  <!--<label for="cost_of_work">Cost of Work</label>-->
                  <!--<input type="text" class="form-control" id="cost_of_work" placeholder="Enter total cost">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col-sm-12">-->
                <!--<div class="form-group">-->
                  <!--<label for="name"><strong>Work verified by:</strong></label>-->
                  <!--Ir. Harris Khalid-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>&lt;!&ndash;/.row&ndash;&gt;-->
            <!--<div class="form-group row">-->
              <!--<label class="col-md-3 form-control-label" for="file-input">Image Upload</label>-->
              <!--<div class="col-md-9">-->
                <!--<input type="file" id="file-input" name="file-input">-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->
          <!--&lt;!&ndash;<div class="card-footer">&ndash;&gt;-->
            <!--&lt;!&ndash;<button type="submit" class="btn btn-sm btn-primary pull-right" [routerLink]="['/work-orders/report']">Close Work Order</button>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-secondary" data-toggle="modal" (click)="closeWorkOrderModal.hide()">Cancel</button>&ndash;&gt;-->
        <!--<button type="button" class="btn btn-primary" data-toggle="modal" (click)="closeWorkOrderModal.hide()">Close Work Order</button>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
