<div class="animated fadeIn">
  <h4>Job Service Requisition</h4>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Client Information</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <img height="80px" src="https://www.mountaineers.org/images/placeholder-images/placeholder-contact-profile/image_preview"/>

            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="staff_id">Staff ID</label>
                <input type="text" class="form-control" id="staff_id" placeholder="Enter Staff ID">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="department">Department</label>
                <input type="text" class="form-control" id="department" placeholder="Enter Department">
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name">
              </div>
            </div>
          </div><!--/.row-->

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="tel" class="form-control" id="phone" placeholder="Enter Contact No">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
            </div>
          </div><!--/.row-->
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Building Information</strong>
        </div>
        <div class="card-block">
          <div class="form-group">
            <label for="building_name">Building Name</label>
            <input type="text" class="form-control" id="building_name" placeholder="Enter building name">
          </div>
          <div class="form-group">
            <label for="block">Block</label>
            <input type="text" class="form-control" id="block" placeholder="Block A">
          </div>
          <div class="form-group">
            <label for="location">Room/Location</label>
            <input type="text" class="form-control" id="location" placeholder="Enter Location">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="request_details">Request Details</label>

            <textarea id="request_details" name="request_details" rows="9" class="form-control" placeholder="Request Details .."></textarea>

          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="file-input">Image Upload</label>
            <div class="col-md-9">
              <input type="file" id="file-input" name="file-input">
            </div>
          </div>
        </div>

        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" [routerLink]="['/work-requests']"><i class="fa fa-dot-circle-o"></i> Submit</button>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

</div>
