
<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Select type of your Site</strong>
    </div>
    <br>
    <div class="card-deck">

    <div class="card" [routerLink]="['/admin/register']" align="center">
   	<img src="assets/img/single.png" width="250" align="center">
    <div class="card-block">
    <h5 align="center">Single Site</h5>
    </div>
    </div>


  <div class="card" align="center">
   	<img src="assets/img/multiple.png" width="250" >
    <div class="card-block">
      <h5 class="card-title" align="center"> Multiple Site</h5>
    </div>
  </div>

  </div>
  </div>
</div>

