  <h4>Multiple Site</h4>
  <br>
  <div class="row">

        <div class="col-sm-4">
          <div class="card">
        <div class="card-header">
          <strong>Wilayah Persekutuan </strong>
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="site_area"><strong>Area</strong></label>
            <div class="col-md-3">
              0

            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="site_asset"><strong>Asset</strong></label>
            <div class="col-md-3">
              0
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="site_team"><strong>Team</strong></label>
            <div class="col-md-3">
              0
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="site_user"><strong>User</strong></label>
            <div class="col-md-3">
              0
            </div>
          </div>
          </div>
        </div>
        </div>
         <div class="col-sm-4">
        <div class="card-block">

		    <div class="card" [routerLink]="['/admin/site/new']">
		    <i class="fa fa-plus-circle" style="font-size:180px" align="center"></i>
		    <div class="card-block">
		    <b><i class="fa fa-plus-circle" style="font-size:24px"></i> Add New Site </b>
		    </div>
		    </div>
         </div>
        
        </div>
        <div class="col-sm-4">
        <div class="card-block">

		    <div class="card" [routerLink]="['/admin/site/new']">
		    <i class="fa fa-plus-circle" style="font-size:180px" align="center"></i>
		    <div class="card-block">
		    <b><i class="fa fa-plus-circle" style="font-size:24px"></i> Add New Site </b>
		    </div>
		    </div>
         </div>
        
        </div>
      </div>


    <!--/.col-->
