<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Import Assets</strong>
    </div>

    <div class="card-block" align="center">
    <button type="button" class="btn btn-success btn-lg">Import CSV</button>
    <br><br>
    <p style="color:green;"> Import Assets</p>
    <a href="/assets/assets.csv">Download Sample Templates</a><br><br>
    <p>1. Download the sample template which has the headers (do not add or remove any headers in row 1).<br>
2. Each row starting at row 2 will create a new asset.<br>
3. Once you are done with that, save the spreadsheet in CSV format.<br>
4. Go back to the Flexcility web application and then press the upload button and choose the CSV file you just saved.</p>
    </div>

</div>
