<div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i><strong> List of Work Order </strong>
        <i  class="fa fa-plus-circle pull-right" style="font-size:25px;" [routerLink]="['/admin/workorder/new']"></i></div>
        <div class="card-block">
          <table class="table table-sm">
            <thead>
                <th>Request</th>
                <th>Date</th>
                <th>Status</th>
                <th>Priority</th>
            </thead>
            <tbody>
              <tr [routerLink]="['/admin/workorder/view']">
                <td>Pintu Rosak</td>
                <td>2012/01/01</td>
                <td><span class="badge badge-warning">IN PROGRESS</span></td>
                <td><span class="badge badge-danger">High</span></td>

              </tr>
              <tr [routerLink]="['/admin/workorder/view']">
                <td>Tandas Tersumbat</td>
                <td>2012/02/01</td>
                <td><span class="badge badge-success">CLOSED</span></td>
                <td><span class="badge badge-primary">Normal</span></td>
 
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#/admin/user">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
    <router-outlet></router-outlet>
    <router-outlet name="popup"></router-outlet>
    </div>

</div>
