<h5 align="center"> WELCOME ADMIN.</h5>
<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Register New Organization</strong>
    </div>
    <br>
    <div class="card-deck">

    <div class="card" [routerLink]="['/admin/organization/register']">
    <i class="fa fa-plus-circle" style="font-size:200px" align="center"></i>
    <div class="card-block">
    <h5><i class="fa fa-plus-circle" style="font-size:24px"></i> Add New Organization </h5>
    </div>
    </div>


  <div class="card" [routerLink]="['/admin/organization/register']">
    <i class="fa fa-plus-circle" style="font-size:200px" align="center"></i>
    <div class="card-block">
      <h5 class="card-title"><i class="fa fa-plus-circle" style="font-size:24px"></i> Add New Organization</h5>
    </div>
  </div>

  <div class="card" [routerLink]="['/admin/organization/register']">
    <i class="fa fa-plus-circle" style="font-size:200px" align="center"></i>
    <div class="card-block">
      <h5 class="card-title"><i class="fa fa-plus-circle" style="font-size:24px"></i> Add New Organization</h5>
     
    </div>
  </div>

    </div>
  </div>
</div>

