
    <div class="row">
    <div class="col-sm-12">
      <div class="card" style="background-color:white;">
        <div class="card-block">
            <div class="col-sm-12">
            <table style="width:50%" >
            <tr>
            <td width="10%"><i  class="fa fa-plus-circle" style="font-size:25px;" [routerLink]="['/admin/site/new']"></i></td>
            <td width="80%"><input type="text" class="form-control" id="org_name" placeholder="Search Organization">
            </td>
            <td width="10%"><button type="submit" class="btn btn-sm btn-primary pull-right" [routerLink]="['/']">Search</button></td>
            </tr>
            </table>

            </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card" [routerLink]="['/admin/site/view']">
        <div class="card-block">
            <div class="col-sm-12">
            <table>
            <tr>
            <td rowspan="2" width="35%">
              <img width="120px" src="https://c1.staticflickr.com/3/2479/3745773048_7c5b2c087f_b.jpg"/>
            </td>
            <th colspan="">Site Name</th>
            </tr>
            <tr>
            <td> no.8, Jalan P/C 38, 43000 ,puchong, Selangor</td>
            </tr>
             </table>
            </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card" [routerLink]="['/admin/site/view']">
        <div class="card-block">
            <div class="col-sm-12">
            <table>
            <tr>
            <td rowspan="2" width="35%">
              <img width="120px" src="https://c1.staticflickr.com/3/2479/3745773048_7c5b2c087f_b.jpg"/>
            </td>
            <th colspan="">Site Name</th>
            </tr>
            <tr>
            <td> no.8, Jalan P/C 38, 43000 ,puchong, Selangor</td>
            </tr>
             </table>
            </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
